<p id="error"></p>

<%= form_for(editor) do |f| %>

  <label class="checkbox-inline">
    <%= check_box_tag "editor[input_mode]", 1, true, data: { toggle: "toggle", on: "LaTex code", off: "view", onstyle: "primary", offstyle: "danger" } %>
  </label>

  <% if editor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(editor.errors.count, "error") %> prohibited this editor from being saved:</h2>

      <ul>
      <% editor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.cktext_area :body %>
  </div>

  <div class="field">
    <%= f.label :tex %>
    <%= f.text_area :tex %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<button id="update">update by ajax</button>
<button id="tex-to-html">tex to html</button>
<button id="html-to-tex">html to tex</button>

<script>
$(function() {
  $('#toggle-body').change(function() {
    var latex_mode = $(this).prop('checked');
    if (latex_mode) {
      console.log('latex mode');
    } else {
      console.log('html mode');
    }
  });

  var AUTOSAVEINTERVAL = 2000;
  var editor = window.CKEDITOR.instances['editor_body'];

  <% if !@ajaxUrl.nil? %>
  var change_flg = 0;
  editor.on('change', function() {
    change_flg = 1;
  });
  // autosave
  setInterval(function() {
    if (change_flg == 1) {
      console.log(1);
      change_flg = 0;
      update();
    }
  }, AUTOSAVEINTERVAL);

  function update() {
    var that = this;
    var title = $('#editor_title').val();
    var body = editor.getData();

    $('#error').text('');
    if (! title) {
      $('#error').text('タイトルを入力してください');
      return false;
    }

    $(that).prop('disabled', true).append('<div id="spin" class="spinner"></div>');
    $.ajax({
      type: 'PUT',
      cache: false,
      data: {
        editor: {title: title, body: body}
      },
      url: '<%= @ajaxUrl %>',
      dataType: 'json',
      success: function(res){
        $(that).after('<span id="result">保存されました</span>');
      },
      error: function(res){
        console.log(res);
      },
      complete: function(res) {
        $(that).prop('disabled', false);
        $('#spin').fadeOut('slow', function() {
          $(this).remove();
        });
        $('#result').fadeOut(3000, function() {
          $(this).remove();
        });
      }
    });
  };

  $('#update').on('click', update);
  <% end %>
});
</script>
