<%= form_for(editor) do |f| %>
  <% if editor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(editor.errors.count, "error") %> prohibited this editor from being saved:</h2>

      <ul>
      <% editor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.cktext_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<p>
  <button id="create">create by ajax</button>
  <button id="update">update by ajax</button>
</p>
<p>
  <button id="tex-to-html">tex to html</button>
  <button id="html-to-tex">html to tex</button>
</p>
<div id="loading"></div>

<script>
var editor = window.CKEDITOR.instances['editor_body'];

var change_flg = 0;
editor.on('change', function() {
  change_flg = 1;
});

// autosave
setInterval(function() {
  if (change_flg == 1) {
    console.log(1);
    change_flg = 0;
  }
}, 2000);

$('#create').on('click', function() {
  var data = {
    // "_method": "post",
    // "authenticity_token": $('input[name=authenticity_token]').val(),
    editor: {title: 'create', body: '新規投稿された'}
  };

  $.ajax({
    type: 'POST',
    cache: false,
    data: data,
    url: '/editors.json',
    dataType: 'json',
    success: function(res){
      console.log(res);
    },
    error: function(res){
      console.log(res);
      alert('エラーが発生しました');
    }
  });
});

var update = function() {
  var body = editor.getData();
  var data = {
    // "_method": "put",
    // "authenticity_token": $('input[name=authenticity_token]').val(),
    editor: {title: 'update', body: body}
  };

  $('#loading').html('<img src="/assets/loading-93e5d2e02937403763073af6f07ab2dad0402dee15c4b2a2cf0a0902151f440a.gif" alt="Loading" />');
  $.ajax({
    type: 'PUT',
    cache: false,
    data: data,
    url: '/editors/1.json',
    dataType: 'json',
    success: function(res){
      console.log(res);
    },
    error: function(res){
      console.log(res);
      alert('エラーが発生しました');
    },
    complete: function(res) {
      $('#loading').empty();
    }
  });
};

$('#update').on('click', update);
</script>
